// ベースカラー
$primary:#FFAD36;

// import
@import "~bootstrap/scss/bootstrap";
@import "sticky-footer";

// 背景
.bg-custom{
  background-color: $primary;
}

input[type=radio] + label,
input[type=checkbox] + label{
  cursor: pointer;
}

a.text-light:focus,
a.text-light:hover {
  color: #fff !important;
}

// ロゴ
#logo{
  h1{
    line-height: 1 !important;
    a{
      &:hover{
        text-decoration: none;
      }
    }
  }
}

// ログイン
#loginform{
  max-width: 420px;
}

// フラッシュメッセージ
#js-flash{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 10%;
  right: auto;
  z-index: 10;
}
.fadeout {
  animation : fadeOut 4s;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// ファイル選択画像アップロード
#preview{
  width: 200px;
  img{
    width: 100%;
  }
}

@include media-breakpoint-down(xs){
  #logo{
    h1{
      font-size: 2rem;
    }
    small{
      font-size: 0.5rem;
    }
  }
  .fa-cog,
  .fa-sign-out-alt{
    font-size: 1.5rem;
  }
}